<mat-card [ngClass]="{ 'text-center': !fullWidthMode }" *ngIf="product">
  <div class="" [ngClass]="{ flex: fullWidthMode }">
    <!--https://via.placeholder.com/150 is a site for images and 150 is the size-->
    <img
      [src]="product.image"
      [ngClass]="{ 'h-[200px]': !fullWidthMode, 'h-[360px]': fullWidthMode }"
      alt=""
      srcset=""
      class="mb-1 mx-auto"
    />
    <div
      class="w-full"
      [ngClass]="{ 'px-8 flex flex-col justify-between': fullWidthMode }"
    >
      <div>
        <h5>{{ product.category }}</h5>
        <p class="truncate hover: whitespace-normal">{{ product.title }}</p>
        <p *ngIf="fullWidthMode">{{ product.description }}</p>
      </div>
    </div>
    <div class="flex justify-between">
      <span class="text-red-500">{{ product.price | currency }}</span>
      <button (click)="onAddToCart()">
        <mat-icon class="text-grey-500">shopping_cart </mat-icon>
      </button>
    </div>
  </div>
</mat-card>
